/* 
=============
fonts 
=============
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

/* 
=============
variables  
=============
*/

:root {
  --clr-primary: #1f618d;
  --clr-primary-light: #5dade2;
  --grey-blue: #778899;
  --metal-blue: #4682b4;
  --grey-light: #f1f5f9;
  --grey: #64748b;
  --black: #222;
  --white: #fff;
  --grey-light: #f1f5f8;
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --letter-spacing: 0.15rem;
  --border-radius: 0.15rem;
  --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
}

/* 
=============
global styles
=============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--white);
  color: var(--black);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.25;
  }
}

/* more global css */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}

.container {
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/banner-img.jpg) center/cover no-repeat fixed;
  position: relative;
}

.banner {
  width: 100vw;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h2 {
  font-family: var(--ff-secondary);
}

.banner h1 {
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
}

.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

/* 
=============
services
=============
*/

.services {
  background: var(--grey-light);
  text-align: center;
}

.service {
  padding: 1.5rem 1.5rem;
  text-align: center;
  transition: var(--transition);
}

.service-icon {
  font-size: 2rem;
  color: var(--clr-primary);
  transition: var(--transition);
  margin-bottom: 2rem;
  display: inline-block;
}

.service p {
  color: var(--clr-primary);
  padding-bottom: 2rem;
  margin-bottom: 0;
  line-height: 2;
}

.service:hover {
  background: var(--white);
}

.service:hover .service-icon {
  transform: translatey(-5px);
  transform: scale(1.2);
}

.service h4 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 576px) {
  .service {
    float: left;
    width: 50%;
    padding: 3rem 2rem;
    height: 500px;
  }
}

@media screen and (min-width: 1170px) {
  .service {
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 1300px) {
  .service {
    float: left;
    width: 25%;
  }
}

/* 
=============
end of services
=============
*/
